{%extends "base.html" %}
{%load staticfiles %}
{%load BlogExtras %}
{%block bodycontent %}

{%block full-card %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h2 class="title text-center">Related Posts</h2> -->
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="content">
                                <h6 class="category text-info"><a href="http://pgautam.com.np/category/uncategorized/" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="#" title="नेवाःरी सिकाई सुरुवात" rel="bookmark">नेवाःरी सिकाई सुरुवात</a></h4>		
                                <p class="card-description">म सानो छँदा महाकवि देवकोटाको जीवनी पढ्दा सुन्दा मलाई एकदमै अचम्मित पार्ने धेरै देवकोटीय तथ्य मध्ये उनको बहुभाषाको ज्ञान एउटा थियो। भावहरू निराकार र निरन्तर हुन्छन् तिनलाई अविच्छिन्न शब्दहरूको माध्यमबाट ब्यक्त गर्न सक्नु भनेको मानव<a class="moretag" href="#"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="content">
                                <h6 class="category text-info"><a href="#" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="#" title="Motley hodgepodge of words in a sentence." rel="bookmark">Motley hodgepodge of words in a sentence.</a>
                                </h4>
                                <p class="card-description">Trying to write an 300 word-ish sentence paragraph inspired by the one I found on a person&#8217;s blog but the task doesn&#8217;t seem all that easy when your brain directs you to end a sentence<a class="moretag" href="#"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="content">
                                <h6 class="category text-info"><a href="#" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="#" title="Motley hodgepodge of words in a sentence." rel="bookmark">Motley hodgepodge of words in a sentence.</a>
                                </h4>
                                <p class="card-description">Trying to write an 300 word-ish sentence paragraph inspired by the one I found on a person&#8217;s blog but the task doesn&#8217;t seem all that easy when your brain directs you to end a sentence<a class="moretag" href="#"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="content">
                                <h6 class="category text-info"><a href="#" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="#" title="Motley hodgepodge of words in a sentence." rel="bookmark">Motley hodgepodge of words in a sentence.</a>
                                </h4>
                                <p class="card-description">Trying to write an 300 word-ish sentence paragraph inspired by the one I found on a person&#8217;s blog but the task doesn&#8217;t seem all that easy when your brain directs you to end a sentence<a class="moretag" href="#"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="content">
                                <h6 class="category text-info"><a href="#" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="#" title="Motley hodgepodge of words in a sentence." rel="bookmark">Motley hodgepodge of words in a sentence.</a>
                                </h4>
                                <p class="card-description">Trying to write an 300 word-ish sentence paragraph inspired by the one I found on a person&#8217;s blog but the task doesn&#8217;t seem all that easy when your brain directs you to end a sentence<a class="moretag" href="#"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="content">
                                <h6 class="category text-info"><a href="#" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="#" title="Motley hodgepodge of words in a sentence." rel="bookmark">Motley hodgepodge of words in a sentence.</a>
                                </h4>
                                <p class="card-description">Trying to write an 300 word-ish sentence paragraph inspired by the one I found on a person&#8217;s blog but the task doesn&#8217;t seem all that easy when your brain directs you to end a sentence<a class="moretag" href="#"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="http://pgautam.com.np/madhe-mad_hv-scimad/" title="Madhe, Mad Hv, SciMad">
                                <img width="800" height="293" src="http://pgautam.com.np/wp-content/uploads/2017/01/Test.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" srcset="http://pgautam.com.np/wp-content/uploads/2017/01/Test.jpg 2532w, http://pgautam.com.np/wp-content/uploads/2017/01/Test-300x110.jpg 300w, http://pgautam.com.np/wp-content/uploads/2017/01/Test-768x281.jpg 768w, http://pgautam.com.np/wp-content/uploads/2017/01/Test-1024x375.jpg 1024w" sizes="(max-width: 800px) 100vw, 800px" />
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="category text-info"><a href="http://pgautam.com.np/category/uncategorized/" title="View all posts in Uncategorized" >Uncategorized</a> </h6>
                                <h4 class="card-title"><a class="blog-item-title-link"  href="http://pgautam.com.np/madhe-mad_hv-scimad/" title="Madhe, Mad Hv, SciMad" rel="bookmark">Madhe, Mad Hv, SciMad</a></h4>
                                <p class="card-description">I used to think very early on in my school days that one day I was going to be a physicist or at least I am going to a student of physics. I clearly had<a class="moretag" href="http://pgautam.com.np/madhe-mad_hv-scimad/"> Read more&hellip;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!--container-->
{%endblock full-card%}
{%endblock bodycontent %}
